@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Play&display=swap');

body {
  background-color: cyan;
  font-family: Poppins;
}

.bg {
  height: 100vh;
  margin-top: 10%;
  margin-right: 20px;
}

.card1 {
  width: 400px;
  height: 250px;
  background: linear-gradient(
    234.75deg,
    #2d5bff 39.7%,
    #8740f7 59.55%,
    #ea23ee 81.13%
  );
  margin-bottom: 40px;
  margin-left: 33.33%;
  margin-right: 33.33%;
  margin-top: 10px;
  border-style: solid;
  border-color: #2a3679;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  letter-spacing: 0.01em;
}

.card1:hover {
  border-color: aqua;
  border-width: 2px;
  border-style: solid;
}

/* .inner {
  background: linear-gradient(
    234.75deg,
    #2d5bff 39.7%,
    #8740f7 59.55%,
    #ea23ee 81.13%
  );
  width: 400px;
  height: 42px;
  margin-top: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

p {
  font-family: 'Poppins', Times, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 15px;
  position: static;
  margin-top: -10px;
  word-spacing: 1px;
}
.p1 {
  display: inline;
}

img {
  width: 120px;
  height: 130px;
  margin-left: 13px;
  margin-top: -10px;
  border-radius: 10px;
  float: left;
}

.player {
  display: inline-flex;
  width: 87px;
  height: 35px;
  margin-left: 30.73px;
  margin-top: 15px;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 0.5) 0%,
    rgba(235, 86, 139, 0.8) 100%
  );
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25),
    -10px -10px 20px rgba(255, 255, 255, 0.11);
  border-radius: 100px;
}
.player:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  background-color: purple;
}
/* .player:hover {
  background-color: purple;
} */
.score:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  background-color: purple;
}
img:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-4px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}
.valueP {
  margin-top: 1px;
  margin-left: 35px;
  color: white;
}
.score {
  display: inline-flex;
  width: 200.68px;
  height: 52.48px;
  margin-left: 35.8px;
  margin-top: 16px;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 0.5) 0%,
    rgba(235, 86, 139, 0.8) 100%
  );
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25),
    -10px -10px 20px rgba(255, 255, 255, 0.11);
  border-radius: 100px;
}
.text {
  margin-left: 10px;
  margin-top: 12px;
  color: #fff;
}
.value {
  margin-left: 100px;
  margin-top: 12px;
  color: #fff;
}

@media screen and (max-width: 490px) {
  .card1 {
    margin: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-right: 20px;
  }
}
